
.content {
    max-width: 400px;
    margin: 0 auto;
}

/* Form */

.guestbook-form .required {
    color: red;
}

.guestbook-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.guestbook-form form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.guestbook-form form * {
    margin: 4px;
}

.guestbook-form form button {
    padding: 4px;
}

/* Messages */

#guestbook-messages {
    margin: 0 auto;
    max-width: 400px;
}

.guestbook-message {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 0px;
}

.guestbook-message .name {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.guestbook-message .email {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80%;
    color: grey;
}

.guestbook-message .message {
    border-top: 1px solid #bbb;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.guestbook-message .meta {
    margin-top: 0px;
    border-top: 1px solid #bbb;
    padding-top: 10px;
    font-size: 80%;
    color: grey;
}

/* Pagination */

.pagination-num {
    padding: 1px 5px;
    margin-right: 4px;
    border: 1px solid black;
}

/* Sort buttons */

.sort-buttons {
    display: block;
    margin: 10px auto;
}

.sort-buttons p {
    margin: 0;
}

.sort-button {
    /*border: 1px solid black;*/
    margin: 10px;
    display: inline-block;
    margin-right: 50px;
}

.sort-button a {
    margin: 0px;
}

.sort-button span {
    margin: 0px;
}